<div class="contenedor">
  <footer class="page-footer font-small special-color-dark pt-4">
    <h1 class="title">Calculate Your Earnings With One Click</h1>
    <div class="container">
      <div class="row">

        <section class="col-md-6 mb-4">
          <div class="input-group">
            <input class="form-control form-control-sm" type="number" placeholder="Hours" aria-label="Hours">
          </div>
        </section>

        <div class="col-md-6 mb-4">
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" placeholder="City" aria-describedby="basic-addon2">

          </div>
        </div>
      </div>
    </div>
        <div class="row ctr">
          <div class="calculate-btn col-md-6 mb-4">
            <button (click)='calculate()' class="boton">Calculate</button>
          </div>
        </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://google.com/"> Ahcarraid.com.mx</a>
    </div>

  </footer>
</div>