<div class="contenedor">
    <nav class="get-started">
        <div class="row">
            <div class="subcontenedor1 col-md-6 mb-4">
                <h1 class="title">
                    make up to $40 per hour, driving your own car
                </h1>
            </div>
        
            <div class="subcontenedor2 subcontenedor1 col-md-6 mb-4">
            <button mat-raised-button color='primary' (click)='openForms()'>Get Started</button>
            </div>
        </div>

    </nav>
</div>